@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000;
}
#GameCanvasScreen{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
